<h1>MedicApp Dashboard</h1>
<wbr-pivot
  #pivot1
  [toolbar]="false"
  [report]="pivotReport"
  [width]="'100%'"
  [height]="500"
  [customizeCell]="onCustomizeCell"
  (ready)="onPivotReady($event)"
  (reportcomplete)="onReportComplete($event)"
>

</wbr-pivot>

<table>
  <tr>
    <td style="width: 800px;">
      <div id="highchartsContainer-1" style="width:500px;height:400px;"></div>
    </td>
    <td>
      <div id="highchartsContainer-2" style="width:500px;height:400px;"></div>
    </td>
  </tr>
</table>
